a {
  text-decoration: none;
  color: blue;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
  color: #333;
}
html,body{
  height: 100%;
}
/* 小标题 */
h4 {
  margin: 40px 0 30px;
  text-align: center;
  font-size: 36px;
  line-height: 50px;
}
/* 更多按钮 */
.more_btn {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #5584FF;
  color: #3978FC;
  border-radius: 3px;
  font-size: 26px;
  text-align: center;
}

.more_btn:active {
  background-color: #5584FF;
  color: #fff;
}