.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  background-image: url('/static/footer_bg.png');
  background-size: 100% 100%;
}

.logo {
  width: 117px;
  height: 32px;
  margin: 55px 0px 0 23px;
  background-image: url('/static/logo.png');
  background-size: 100% 100%;
}

.introduce_text {
  width: 706px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 35px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 36px;
}

.gov {
  display: block;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}

.explain {
  display: flex;
  margin-top: 45px;
  width: 706px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.core {
  width: 270px;
}

.headline {
  font-size: 28px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 32px;
}

.content {
  margin-top: 20px;
}

.subhead {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 36px;
  display: block;
  margin-top: 15px;
}

.contact {
  margin-top: 40px;
  width: 706px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.container {
  margin-top: 30px;
  display: flex;
  margin-bottom: 50px;
}

.mail_link {
  color: rgba(255, 255, 255, 0.6);
}

.marginLeft {
  margin-left: 60px;
}