.partner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
}

.item {
  width: 256px;
  height: 130px;
  background-color: orange;
  margin-bottom: 40px;
}
.bg1 {
  /* background-image: url('./static/company/.png'); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bg1 {
  background-position: 10px 16px;
}
.bg2 {
  background-position: 16px 16px;
}
.bg3 {
  background-position: 25px 12px;
}
.bg4 {
  background-position: 18px 14px;
}
.bg5 {
  background-position: 12px 8px;
}
.bg6 {
  background-position: 40px 0px;
}
.bg7 {
  background-position: 26px 12px;
}
.bg8 {
  background-position: 30px 8px;
}
.bg9 {
  background-position: 24px 10px;
}
.bg10 {
  background-position: 0px 2px;
}
.bg11 {
  background-position: 16px 10px;
}
.bg12 {
  background-position: 10px 2px;
}